<!-- navbar -->
{% block navbar%}
<nav>
    <div>
      <a href="#">Flower</a>
      <div>
        <ul>
          <li>
            <a href="#">O nas</a>
          </li>
          <li>
            <a href="#">Oferta</a>
          </li>
          <li>
            <a href="#">Kosze upominkowe</a>
          </li>
          <li>
            <a href="#">Kontakt</a>
          </li>
          <li>
            <a href="#">Zaloguj się</a>
          </li>
          <li>
            <a href="#">Koszyk</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}